node_modules
.git
.vscode-test
api/node_modules
dist
out

tests/**/build*
tests/**/devel*
tests/**/install*
tests/**/logs*
tests/**/.vscode
!tests/**/.catkin_tools/CATKIN_IGNORE
tests/**/.catkin_tools/profiles/*
!tests/**/.catkin_tools/profiles/profiles.yaml
!tests/**/.catkin_tools/profiles/default/config.yaml