node_modules
.git
.vscode-test
api/node_modules
dist
out

tests/**/build*
tests/**/devel*
tests/**/install*
tests/**/logs*
tests/**/.vscode
tests/**/.catkin_tools/*
!tests/**/.catkin_tools/CATKIN_IGNORE